@use "../../sass/theme"
@use "../../sass/functions"
@use "../../sass/config"
@use "sass:math"
@use "sass:color"
.btn
	margin: 0
	padding: 0 1.5rem
	height: 2rem
	line-height: 2rem
	border-radius: 4px
	background-color: var(--gray-100)
	color: var(--gray-600)
	box-shadow: 0 2px 4px 0 rgba(0,0,0 , 0.15)
	border: none
	cursor: pointer

	&:not(:last-child)
		margin-right: math.div(functions.deep-get(config.$grid, 'padding'), 2)

	@each $color, $shades in theme.$colors
		@each $key, $value in $shades
			@if $key == DEFAULT
				&--#{$color}
					background-color: var(--#{$color})
					@if color.blackness($value) < 35%
						color: var(--gray-100)
					@else
						color: var(--gray-700)
			@else
				&--#{$color}-#{$key}
					background-color: var(--#{$color}-#{$key})
					@if color.blackness($value) < 35%
						color: var(--gray-700)
					@else
						color: var(--gray-100)
