
$colors: (
	blue: (
		DEFAULT: #22ACD3,
		50: #E0F4FA,
		100: #CAEDF6,
		200: #9FDEEF,
		300: #73CFE8,
		400: #47C0E1,
		500: #22ACD3,
		600: #1B88A7,
		700: #14657B,
		800: #0D414F,
		900: #061D23
	),
	red: (
		DEFAULT: #E60F0F,
		50: #FDDDDD,
		100: #FBC5C5,
		200: #F89696,
		300: #F56666,
		400: #F23636,
		500: #E60F0F,
		600: #B60C0C,
		700: #860909,
		800: #560606,
		900: #260202
	),
	pink: (
		DEFAULT: #E60FB4,
		50: #FDDDF6,
		100: #FBC5EF,
		200: #F896E1,
		300: #F566D4,
		400: #F236C6,
		500: #E60FB4,
		600: #B60C8E,
		700: #860969,
		800: #560643,
		900: #26021E
	),
	cerulean: (
		DEFAULT: #0F9EE6,
		50: #DDF2FD,
		100: #C5E9FB,
		200: #96D7F8,
		300: #66C5F5,
		400: #36B3F2,
		500: #0F9EE6,
		600: #0C7DB6,
		700: #095C86,
		800: #063B56,
		900: #021A26
	),
	purple: (
		DEFAULT: #633BBA,
		50: #EAE4F6,
		100: #DBD0F0,
		200: #BCAAE4,
		300: #9E83D8,
		400: #7F5CCC,
		500: #633BBA,
		600: #4E2F93,
		700: #3A226D,
		800: #251646,
		900: #110A1F
	),
	gray: (
		DEFAULT: #6E6E6E,
		50: #E0E0E0,
		100: #D4D4D4,
		200: #BABABA,
		300: #A1A1A1,
		400: #878787,
		500: #6E6E6E,
		600: #545454,
		700: #3B3B3B,
		800: #212121,
		900: #080808
	)
)
